<section class="flex column center project" *ngIf="currentProject">
  <h2 class="project-title title">{{currentProject.title}}</h2>

  <img src="{{currentProject.cover}}" alt="" class="project-cover">

  <p class="project-note">{{currentProject.notes}}</p>

  <a href="{{currentProject.linktree}}" target="_blank" class="project-link">Écouter l'album</a>

  <ul class="flex center project-clips">
    <li class="project-clips-item" *ngFor="let clip of currentProject.clips">
      <iframe class="iframe" [attr.src]="getYoutubeEmbedUrl(clip)" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </li>
  </ul>

  <div class="flex center">
    <button class="project-sliderCtrl prev" (click)="moveSlider('prev')">
      < 
    </button>
    <button class="project-sliderCtrl next" (click)="moveSlider('next')"> > </button>
  </div>

  <h3 class="title project-otherTitle">Autres projets</h3>

  <ul class="flex center project-others" *ngIf="allProjects.length">
    <li class="project-others-item pointer" *ngFor="let project of shuffleAndPickThree(allProjects)"(click)="redirect(project.link)">
      <img src="{{project.cover}}" alt="">
      <h4>{{project.title}}</h4>
    </li>
  </ul>
</section>
