<section class="home">
  <div class="flex center home-first">
    <div class="flex column center home-first-block">
      <h1 class="uppercase">Pense.</h1>
      <h2>Peintre <strong class="uppercase">musical</strong></h2>
    </div>
    <div class="flex column center home-first-block">
      <div class="home-first-block-encart">
        <p class="home-first-title">Découvre la collection <strong class="gagkline">«ESPACE»</strong></p>
        <a *ngIf="collections.length" routerLink="/collections/{{collections[0].link}}" class="btn">Découvrir</a>
      </div>
    </div>
  </div>

  <div class="flex column center home-about">

    <img class="home-about-pict" src="img/pense-bio.jpg" alt="Pense" />
    <p class="home-about-desc">
      <strong class="gagkline">Pense</strong> lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae,
      voluptas qui corporis ipsa voluptate doloribus doloremque quas aperiam quia voluptatibus nesciunt, facere
      ab ducimus, saepe assumenda laboriosam consequuntur ratione dolore?
    </p>
  </div>

  <div class="home-collections">
    <h2 class="home-collections-title home-title uppercase">Collections.</h2>
    
    <div class="flex center home-collections-slide"
    *ngFor="let collection of collections"
    (click)="redirect('collections', collection)">
      <div class="home-collections-slide-block cover">
        <img src="{{collection.cover}}" alt="">
      </div>
      <div class="flex column center home-collections-slide-block">
        <h3 class="title uppercase">{{collection.title}} :</h3>
        <p>{{collection.notes}}</p>
        <button class="btn">Découvrir</button>
      </div>
    </div>

  </div>


  <div class="home-news">
    <h2 class="home-title uppercase home-news-title">Projets :</h2>
    <ul class="flex center home-news-list" *ngIf="projets">
      <li class="home-news-list-item pointer" (click)="redirect('projets', projet)" *ngFor="let projet of projets">
        <img src="img/lachauffe.jpg" alt="la chauffe" />
        <hr />
        <p><strong>{{projet.title}}</strong></p>
      </li>
    </ul>
  </div>

  <div class="flex column center home-contact">
    <h2 class="home-title uppercase">Contact.</h2>
    <img src="img/words-yellow.png" alt="" class="home-contact-words" />
    <p>pensecontact&#64;gmail.com</p>
    <a mailto="pensecontact@gmail.com" class="btn">Contacte-moi</a>
  </div>
</section>
