@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.home {
    width: 100%;
    
    &-first {
        position: relative;
        justify-content: center;
        height: 80vh;

        &-block {
            height: 100%;
            width: 35%;
            padding: 30px 40px;
            text-align: right;
            h1 {
                font-size: 5rem;
            }
            h2 {
                font-size: 2rem;
                strong {
                    display: inline-block;
                    font-size: 3rem;
                    color: red;
                }
            }

            &:last-child {
                position: relative;
                width: 65%;
                background-image: url('../../../../public/img/pense-intro2.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 550px auto;
            }
        
            &-encart {
                position: absolute;
                right: 0;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 95%;
                max-width: 750px;
                padding: 30px 15px;
                background: rgba($red, .9);
                color: $white;
                text-align: center;

                .btn {
                    display: block;
                    margin: 15px auto 0;
                }
            }
        }
    }

    &-about {
        padding: 90px 20px;
        background-color: $black;

        &-pict {
            width: 250px;
            height: 250px;
            border-radius: 100%;
        }

        &-desc {
            max-width: 600px;
            font-size: 1.3rem;
            color: $white;
            margin: 30px auto 0;
            line-height: 1.6rem;

            strong {
                display: inline-block;
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }

    &-collections {
        width: 100%;
        
        // &-title {
        //     text-align: center;
        //     margin: 40px auto;
        //     font-size: 4rem;
        // }

        &-slide {
            position: relative;
            align-items: flex-end;
            width: 100%;
            height: 350px;
            background-image: url('/img/latrempe.jpeg');
            background-size: 50% auto;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: left center;
            margin: 0 auto;
            padding: 0 0 15px;

            &:nth-child(even) {
                background-position: right center;
                align-items: flex-start;
            }

            p {
                width: 50%;
                font-size: 1.2rem;
                text-align: right;
                padding: 0 25px;
                text-align: center;

                strong {
                    display: block;
                    font-size: 1.4rem;
                }

                .btn {
                    display: block;
                    margin: 10px auto 0;
                }
            }
        }

    }

    &-news {
        padding: 100px 20px;

        &-title {
            font-size: 2rem;
            text-align: center;
        }

        &-list {
            flex-wrap: wrap;
            margin-top: 50px;

            &-item {
                // padding: 20px;
                max-width: 30.333%;
                margin: 0 15px 60px;
                border: 3px solid transparent;
                transition: .3s;

                &:hover {
                    transform: scale(1.1);

                    img {
                        box-shadow: 0 5px 9px rgba(#000, .5);
                    }
                }

                img {
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                    transition: .3s;
                }

                p {
                    text-align: center;
                    font-size: 1.2rem;
                    margin-top: 20px;
                }
            }
        }
    }
}