<section class="home">
    <div class="home-first">
        <h1>Pense.</h1>
        <h2>Peintre musical</h2>
        <p class="home-first-title title">Découvre la collection «ESPACE»</p>
    </div>
    <div class="home-collections">

    </div>
    <div class="home-news">
        <h3 class="title home-news-title">Nouveautés</h3>
        <ul class="home-news-list">
            <li class="home-news-list-item">
                <img src="img/space.jpg" alt="La Trempe - Papi TedddyBear et Pense" />
                <p>La Trempe</p>
            </li>
        </ul>
    </div>
</section>