@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.home {
    width: 100%;
    // padding-bottom: 80px;
    background-image: url("https://www.transparenttextures.com/patterns/buried.png");
        background-attachment: fixed;
        background-position: center;

    &-title {
        font-size: 5rem;
        color: $yellow;
        text-align: center;
    }
    
    &-first {
        position: relative;
        justify-content: center;
        height: 100vh;

        &-block {
            position: relative;
            height: 100%;
            width: 35%;
            padding: 30px 40px;
            text-align: right;


            h1 {
                font-size: 7rem;
            }
            h2 {
                font-size: 5rem;
                strong {
                    display: inline-block;
                    font-size: 4rem;
                    color: goldenrod;
                }
            }

            &:last-child {
                position: relative;
                width: 65%;
                background-image: url('../../../../public/img/pense-intro4.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 600px auto;
                z-index: 1;
            }
        
            &-encart {
                position: absolute;
                right: 0;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 95%;
                max-width: 750px;
                padding: 30px 15px;
                background: rgba($white, .9);
                border: 3px solid $yellow;
                color: $black;
                text-align: center;

                p {
                    font-size: 1.2rem;
                    strong {
                        font-size: 1.5rem; 
                    }
                }

                a {
                    display: block;
                    max-width: 250px;
                    margin: 15px auto 0;
                }
            }
        }
    }

    &-about {
        position: relative;
        overflow: hidden;
        padding: 90px 20px;
        // background-color: $black;

        &-pict {
            width: 250px;
            height: 250px;
            border-radius: 100%;
        }

        &-desc {
            max-width: 600px;
            font-size: 1.3rem;
            color: $white;
            margin: 30px auto 0;
            font-weight: 400;
            line-height: 1.6rem;

            strong {
                display: inline-block;
                font-size: 2rem;
                font-weight: bold;
                color: goldenrod;
            }
        }
    }

    &-collections {
        width: 100%;
        border-bottom: 100px solid $yellow;
        padding: 150px 0 0;
        // background-color: #000;

        &-title {
            margin-bottom: 50px;
        }

        &-slide {
            position: relative;
            align-items: flex-end;
            width: 100%;
            height: 400px;
            margin: 0;
            border-bottom: 1px solid $yellow;
            // padding: 0 0 15px;

            &:nth-child(even) {
                flex-direction: row-reverse;

                .cover img {
                    float: right !important;
                }
            }

            &-block {
                width: 50%;
                height: 100%;

                &.cover {
                    width: 50%;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: auto;
                        margin: 0 auto;
                        float: left;
                    }
                }

                h3 {
                    font-size: 3rem;

                    strong {
                        display: inline-block;
                        font-weight: bold;
                        color: goldenrod;
                    }
                }
                p {
                    font-size: 1.2rem;
                    text-align: right;
                    margin: 15px auto 25px;
                    text-align: center;
                }
                .btn {
                    display: block;
                    margin: 10px auto 0;
                }
            }
        }

    }

    &-news {
        padding: 100px 20px;

        &-title {
            text-align: center;
        }

        &-list {
            flex-wrap: wrap;
            margin-top: 50px;

            &-item {
                max-width: 25%;
                margin: 0 15px 100px;
                border: 3px solid transparent;
                transition: .3s;

                &:hover {
                    transform: scale(1.05);

                    img {
                        box-shadow: 0 5px 9px rgba(#000, .5);
                        border: 0px solid transparent;
                        padding: 0;
                        
                    }

                    hr {
                        width: 30%;
                    }
                    p {
                        letter-spacing: 1.1px;
                    }
                }

                img {
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                    transition: .3s;
                    border: 2px solid rgba($yellow, .3);
                    padding: 10px;
                }

                hr {
                    display: block;
                    width: 90%;
                    height: 1px;
                    background: rgba($yellow, .3);
                    margin: 25px auto;
                    transition: .3s;
                }

                p {
                    text-align: center;
                    font-size: 1.2rem;
                    white-space: nowrap;
                    transition: .3s;
                    display: block;
                    width: 100%;
                    text-wrap: wrap;
                    text-align: center;
                    
                    strong {
                        // color: goldenrod;
                    }
                }
            }
        }
    }

    &-contact {
        background-color: $black;
        color: $white;
        padding: 50px 30px 80px;

        h2 {
            color: $white;
        }

        &-words {
            width: 100%;
            max-width: 650px;
        }

        p {
            font-size: 2rem;
            margin: 40px auto;
        }

        
    }
}