<section class="home">
    <div class="flex center home-first">
        <div class="flex column center home-first-block">
            <h1 class="uppercase">Pense.</h1>
            <h2>Peintre <strong class="uppercase">musical</strong></h2>
        </div>
        <div class="flex column center home-first-block">
            <div class="home-first-block-encart">
                <p class="home-first-title title">Découvre la collection «ESPACE»</p>
                <button class="btn">Découvrir</button>
            </div>
        </div>
    </div>

    <div class="flex center column home-about">
        <div class="home-about-pict"></div>
        <p class="home-about-desc">
            <strong>Pense</strong> lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, voluptas qui corporis ipsa voluptate doloribus doloremque quas aperiam quia voluptatibus nesciunt, facere 
            ab ducimus, saepe assumenda laboriosam consequuntur ratione dolore?</p>
    </div>


    <div class="home-collections">
        <div class="flex column center home-collections-slide">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing
                <button class="btn">Découvrir</button>
            </p>
        </div>
        <div class="flex column center home-collections-slide">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing
                <button class="btn">Découvrir</button>
            </p>
        </div>
        <div class="flex column center home-collections-slide">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing
                <button class="btn">Découvrir</button>
            </p>
        </div>
    </div>


    <div class="home-news">
        <h3 class="title home-news-title">Nouveautés</h3>
        <ul class="home-news-list">
            <li class="home-news-list-item">
                <!-- <img src="img/space.jpg" alt="La Trempe - Papi TedddyBear et Pense" /> -->
                <p>La Trempe</p>
            </li>
        </ul>
    </div>
</section>